html, body {
    color: gray;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 300;
    overflow: hidden;
}

.paddingtb3 {
  padding-top: 3%;
  padding-bottom: 3%;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
fa {
    font-size: 14px;
}
.clear-both {
    clear: both;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}