<div id="menu-bar">
    <a class="menu-btn float-left" md-mini-fab color="accent" (click)="dataService.undo()" *ngIf="!dataService.isStackEmpty()">
      <md-icon class="md-24">undo</md-icon>
    </a>
    <a class="menu-btn float-right" md-mini-fab color="accent" (click)="menuService.toggleEditMode()">
      <md-icon class="md-24">mode_edit</md-icon>
    </a>
    <a class="menu-btn float-right" md-mini-fab color="primary"  (click)="menuService.addEvent()">
      <md-icon class="md-24">add</md-icon>
    </a>
    <a class="menu-btn float-right" md-mini-fab color="primary"  (click)="dataService.sort()">
      <md-icon class="md-24">sort</md-icon>
    </a>
</div>