<div id="menu-bar" class="text-right">
    <a  class="menu-btn float-left" 
        md-mini-fab color="accent" 
        (click)="dataService.undo()" 
        *ngIf="!dataService.isStackEmpty()">
      <md-icon class="md-24">undo</md-icon>
    </a>
    <a  class="menu-btn"
        md-mini-fab color="warn"  
        *ngIf="menuService.isEditModeOn" 
        (click)="dataService.clear()">
      <md-icon class="md-24">delete_forever</md-icon>
    </a>
    <a  class="menu-btn"
        md-mini-fab color="primary"  
        *ngIf="!menuService.isEditModeOn"  
        (click)="dataService.sort()">
      <md-icon class="md-24">sort</md-icon>
    </a>
    <a  class="menu-btn"
        md-mini-fab color="primary"  
        *ngIf="!menuService.isEditModeOn" 
        (click)="menuService.addEvent()">
      <md-icon class="md-24">add</md-icon>
    </a>
    <a  class="menu-btn"
        md-mini-fab color="accent" 
        (click)="menuService.toggleEditMode()">
      <md-icon class="md-24">mode_edit</md-icon>
    </a>
</div>