canvas {
    position: absolute;
}

sm-container,
sm-menu-bar,
sm-schedule-container {
    display: block;
}
sm-menu-bar {
    min-height: 25px;
    height: 55px;
    padding-right: 10px;
}

sm-schedule-container {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}
